
 @import "material-dashboard/variables";
 @import "material-dashboard/mixins";
 @import "material-dashboard/core-bootstrap";

 @import "material-dashboard/bootstrap/scss/grid";
 @import "custom/letter-head";

body{
	background-color: transparent;
	color: #000;
}
.table{
	tbody{
		tr{
			td, th {
				border-color: #000;
			}
		}
	}
}

