/*
todo look at how bootstrap loops through their vars to make a --root section
 */
.visually-hidden, .tempus-dominus-widget [data-action]::after {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.tempus-dominus-widget {
  list-style: none;
  padding: 4px;
  width: 19rem;
  border-radius: 4px;
  display: none;
  background-color: white;
  /*border: 1px solid black;*/
  z-index: 9999;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.tempus-dominus-widget.calendarWeeks {
  width: 21rem;
}
.tempus-dominus-widget.calendarWeeks .date-container-days {
  grid-auto-columns: 12.5%;
}
.tempus-dominus-widget [data-action] {
  cursor: pointer;
}
.tempus-dominus-widget [data-action]::after {
  content: attr(title);
}
.tempus-dominus-widget [data-action].disabled, .tempus-dominus-widget [data-action].disabled:hover {
  background: none;
  color: #6c757d;
  cursor: not-allowed;
}
.tempus-dominus-widget .arrow {
  display: none;
}
.tempus-dominus-widget.show {
  display: block;
}
.tempus-dominus-widget .td-collapse:not(.show) {
  display: none;
}
.tempus-dominus-widget .td-collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media (min-width: 576px) {
  .tempus-dominus-widget.timepicker-sbs {
    width: 38em;
  }
}
@media (min-width: 768px) {
  .tempus-dominus-widget.timepicker-sbs {
    width: 38em;
  }
}
@media (min-width: 992px) {
  .tempus-dominus-widget.timepicker-sbs {
    width: 38em;
  }
}
.tempus-dominus-widget.timepicker-sbs .td-row {
  display: flex;
}
.tempus-dominus-widget.timepicker-sbs .td-row .td-half {
  flex: 0 0 auto;
  width: 50%;
}
.tempus-dominus-widget div[data-action]:active {
  box-shadow: none;
}
.tempus-dominus-widget .timepicker-hour,
.tempus-dominus-widget .timepicker-minute,
.tempus-dominus-widget .timepicker-second {
  width: 54px;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}
.tempus-dominus-widget button[data-action] {
  padding: 6px;
}
.tempus-dominus-widget .toggleMeridiem {
  text-align: center;
  /*width: 38px;*/
  height: 38px;
}
.tempus-dominus-widget .calendar-header {
  display: grid;
  grid-template-areas: "a a a";
  margin-bottom: 10px;
  font-weight: bold;
}
.tempus-dominus-widget .calendar-header .next {
  text-align: right;
  padding-right: 10px;
}
.tempus-dominus-widget .calendar-header .previous {
  text-align: left;
  padding-left: 10px;
}
.tempus-dominus-widget .calendar-header .picker-switch {
  text-align: center;
}
.tempus-dominus-widget .toolbar {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 40px;
}
.tempus-dominus-widget .toolbar div {
  border-radius: 999px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
}
.tempus-dominus-widget .toolbar div:hover {
  background: #e9ecef;
}
.tempus-dominus-widget .date-container-days {
  display: grid;
  grid-template-areas: "a a a a a a a";
  grid-auto-rows: 40px;
  grid-auto-columns: 14.2857142857%;
}
.tempus-dominus-widget .date-container-days .dow {
  color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  text-align: center;
}
.tempus-dominus-widget .date-container-days .cw {
  width: 90%;
  height: 90%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 0.8em;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.38);
  cursor: default;
}
.tempus-dominus-widget.calendarWeeks .date-container-days {
  grid-template-areas: "a a a a a a a a";
}
.tempus-dominus-widget .date-container-decades, .tempus-dominus-widget .date-container-years, .tempus-dominus-widget .date-container-months {
  display: grid;
  grid-template-areas: "a a a";
  grid-auto-rows: calc((19rem - 8px) / 7);
}
.tempus-dominus-widget .time-container-hour, .tempus-dominus-widget .time-container-minute, .tempus-dominus-widget .time-container-second {
  display: grid;
  grid-template-areas: "a a a a";
  grid-auto-rows: calc((19rem - 8px) / 7);
}
.tempus-dominus-widget .time-container-clock {
  display: grid;
  grid-auto-rows: calc((19rem - 8px) / 7);
}
.tempus-dominus-widget .time-container-clock .no-highlight {
  width: 90%;
  height: 90%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.tempus-dominus-widget .date-container-decades div:not(.no-highlight), .tempus-dominus-widget .date-container-years div:not(.no-highlight), .tempus-dominus-widget .date-container-months div:not(.no-highlight), .tempus-dominus-widget .date-container-days div:not(.no-highlight),
.tempus-dominus-widget .time-container-clock div:not(.no-highlight), .tempus-dominus-widget .time-container-hour div:not(.no-highlight), .tempus-dominus-widget .time-container-minute div:not(.no-highlight), .tempus-dominus-widget .time-container-second div:not(.no-highlight) {
  width: 90%;
  height: 90%;
  border-radius: 999px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
}
.tempus-dominus-widget .date-container-decades div:not(.no-highlight):hover, .tempus-dominus-widget .date-container-years div:not(.no-highlight):hover, .tempus-dominus-widget .date-container-months div:not(.no-highlight):hover, .tempus-dominus-widget .date-container-days div:not(.no-highlight):hover,
.tempus-dominus-widget .time-container-clock div:not(.no-highlight):hover, .tempus-dominus-widget .time-container-hour div:not(.no-highlight):hover, .tempus-dominus-widget .time-container-minute div:not(.no-highlight):hover, .tempus-dominus-widget .time-container-second div:not(.no-highlight):hover {
  background: #e9ecef;
}
.tempus-dominus-widget .date-container-decades div:not(.no-highlight).active, .tempus-dominus-widget .date-container-years div:not(.no-highlight).active, .tempus-dominus-widget .date-container-months div:not(.no-highlight).active, .tempus-dominus-widget .date-container-days div:not(.no-highlight).active,
.tempus-dominus-widget .time-container-clock div:not(.no-highlight).active, .tempus-dominus-widget .time-container-hour div:not(.no-highlight).active, .tempus-dominus-widget .time-container-minute div:not(.no-highlight).active, .tempus-dominus-widget .time-container-second div:not(.no-highlight).active {
  background-color: #0d6efd;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.tempus-dominus-widget .date-container-decades div:not(.no-highlight).active.today:before, .tempus-dominus-widget .date-container-years div:not(.no-highlight).active.today:before, .tempus-dominus-widget .date-container-months div:not(.no-highlight).active.today:before, .tempus-dominus-widget .date-container-days div:not(.no-highlight).active.today:before,
.tempus-dominus-widget .time-container-clock div:not(.no-highlight).active.today:before, .tempus-dominus-widget .time-container-hour div:not(.no-highlight).active.today:before, .tempus-dominus-widget .time-container-minute div:not(.no-highlight).active.today:before, .tempus-dominus-widget .time-container-second div:not(.no-highlight).active.today:before {
  border-bottom-color: #fff;
}
.tempus-dominus-widget .date-container-decades div:not(.no-highlight).old, .tempus-dominus-widget .date-container-decades div:not(.no-highlight).new, .tempus-dominus-widget .date-container-years div:not(.no-highlight).old, .tempus-dominus-widget .date-container-years div:not(.no-highlight).new, .tempus-dominus-widget .date-container-months div:not(.no-highlight).old, .tempus-dominus-widget .date-container-months div:not(.no-highlight).new, .tempus-dominus-widget .date-container-days div:not(.no-highlight).old, .tempus-dominus-widget .date-container-days div:not(.no-highlight).new,
.tempus-dominus-widget .time-container-clock div:not(.no-highlight).old,
.tempus-dominus-widget .time-container-clock div:not(.no-highlight).new, .tempus-dominus-widget .time-container-hour div:not(.no-highlight).old, .tempus-dominus-widget .time-container-hour div:not(.no-highlight).new, .tempus-dominus-widget .time-container-minute div:not(.no-highlight).old, .tempus-dominus-widget .time-container-minute div:not(.no-highlight).new, .tempus-dominus-widget .time-container-second div:not(.no-highlight).old, .tempus-dominus-widget .time-container-second div:not(.no-highlight).new {
  color: rgba(0, 0, 0, 0.38);
}
.tempus-dominus-widget .date-container-decades div:not(.no-highlight).disabled, .tempus-dominus-widget .date-container-decades div:not(.no-highlight).disabled:hover, .tempus-dominus-widget .date-container-years div:not(.no-highlight).disabled, .tempus-dominus-widget .date-container-years div:not(.no-highlight).disabled:hover, .tempus-dominus-widget .date-container-months div:not(.no-highlight).disabled, .tempus-dominus-widget .date-container-months div:not(.no-highlight).disabled:hover, .tempus-dominus-widget .date-container-days div:not(.no-highlight).disabled, .tempus-dominus-widget .date-container-days div:not(.no-highlight).disabled:hover,
.tempus-dominus-widget .time-container-clock div:not(.no-highlight).disabled,
.tempus-dominus-widget .time-container-clock div:not(.no-highlight).disabled:hover, .tempus-dominus-widget .time-container-hour div:not(.no-highlight).disabled, .tempus-dominus-widget .time-container-hour div:not(.no-highlight).disabled:hover, .tempus-dominus-widget .time-container-minute div:not(.no-highlight).disabled, .tempus-dominus-widget .time-container-minute div:not(.no-highlight).disabled:hover, .tempus-dominus-widget .time-container-second div:not(.no-highlight).disabled, .tempus-dominus-widget .time-container-second div:not(.no-highlight).disabled:hover {
  background: none;
  color: #6c757d;
  cursor: not-allowed;
}
.tempus-dominus-widget .date-container-decades div:not(.no-highlight).today, .tempus-dominus-widget .date-container-years div:not(.no-highlight).today, .tempus-dominus-widget .date-container-months div:not(.no-highlight).today, .tempus-dominus-widget .date-container-days div:not(.no-highlight).today,
.tempus-dominus-widget .time-container-clock div:not(.no-highlight).today, .tempus-dominus-widget .time-container-hour div:not(.no-highlight).today, .tempus-dominus-widget .time-container-minute div:not(.no-highlight).today, .tempus-dominus-widget .time-container-second div:not(.no-highlight).today {
  position: relative;
}
.tempus-dominus-widget .date-container-decades div:not(.no-highlight).today:before, .tempus-dominus-widget .date-container-years div:not(.no-highlight).today:before, .tempus-dominus-widget .date-container-months div:not(.no-highlight).today:before, .tempus-dominus-widget .date-container-days div:not(.no-highlight).today:before,
.tempus-dominus-widget .time-container-clock div:not(.no-highlight).today:before, .tempus-dominus-widget .time-container-hour div:not(.no-highlight).today:before, .tempus-dominus-widget .time-container-minute div:not(.no-highlight).today:before, .tempus-dominus-widget .time-container-second div:not(.no-highlight).today:before {
  content: "";
  display: inline-block;
  border: solid transparent;
  border-width: 0 0 7px 7px;
  border-bottom-color: #0d6efd;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 6px;
  right: 6px;
}
.tempus-dominus-widget .time-container {
  margin-bottom: 0.5rem;
}
.tempus-dominus-widget button {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.tempus-dominus-widget.tempus-dominus-widget-readonly table td.day,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td.hour,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td.minute,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td.second,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=incrementHours],
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=incrementMinutes],
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=incrementSeconds],
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=decrementHours],
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=decrementMinutes],
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=decrementSeconds],
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=showHours],
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=showMinutes],
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=showSeconds],
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=togglePeriod] {
  pointer-events: none;
  cursor: default;
}
.tempus-dominus-widget.tempus-dominus-widget-readonly table td.day:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td.hour:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td.minute:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td.second:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=incrementHours]:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=incrementMinutes]:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=incrementSeconds]:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=decrementHours]:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=decrementMinutes]:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=decrementSeconds]:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=showHours]:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=showMinutes]:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=showSeconds]:hover,
.tempus-dominus-widget.tempus-dominus-widget-readonly table td [data-action=togglePeriod]:hover {
  background: none;
}
/*!
 * bootstrap-fileinput v5.2.7
 * http://plugins.krajee.com/file-input
 *
 * Krajee default styling for bootstrap-fileinput.
 *
 * Author: Kartik Visweswaran
 * Copyright: 2014 - 2021, Kartik Visweswaran, Krajee.com
 *
 * Licensed under the BSD-3-Clause
 * https://github.com/kartik-v/bootstrap-fileinput/blob/master/LICENSE.md
 */

.file-loading input[type=file],
input[type=file].file-loading {
    width: 0;
    height: 0;
}

.file-no-browse {
    position: absolute;
    left: 50%;
    bottom: 20%;
    width: 1px;
    height: 1px;
    font-size: 0;
    opacity: 0;
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
}

.kv-hidden,
.file-caption-icon,
.file-zoom-dialog .modal-header:before,
.file-zoom-dialog .modal-header:after,
.file-input-new .file-preview,
.file-input-new .close,
.file-input-new .glyphicon-file,
.file-input-new .fileinput-remove-button,
.file-input-new .fileinput-upload-button,
.file-input-new .no-browse .input-group-btn,
.file-input-ajax-new .fileinput-remove-button,
.file-input-ajax-new .fileinput-upload-button,
.file-input-ajax-new .no-browse .input-group-btn,
.hide-content .kv-file-content,
.is-locked .fileinput-upload-button,
.is-locked .fileinput-remove-button {
    display: none;
}

.btn-file input[type=file],
.file-caption-icon,
.file-preview .fileinput-remove,
.krajee-default .file-thumb-progress,
.file-zoom-dialog .btn-navigate,
.file-zoom-dialog .floating-buttons {
    position: absolute;
}

.file-caption-icon .kv-caption-icon {
    line-height: inherit;
}

.file-input,
.file-loading:before,
.btn-file,
.file-caption,
.file-preview,
.krajee-default.file-preview-frame,
.krajee-default .file-thumbnail-footer,
.file-zoom-dialog .modal-dialog {
    position: relative;
}

.file-error-message pre,
.file-error-message ul,
.krajee-default .file-actions,
.krajee-default .file-other-error {
    text-align: left;
}

.file-error-message pre,
.file-error-message ul {
    margin: 0;
}

.krajee-default .file-drag-handle,
.krajee-default .file-upload-indicator {
    float: left;
    margin-top: 10px;
    width: 16px;
    height: 16px;
}

.file-thumb-progress .progress,
.file-thumb-progress .progress-bar {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.7rem;
}

.krajee-default .file-thumb-progress .progress,
.kv-upload-progress .progress {
    background-color: #ccc;
}

.krajee-default .file-caption-info,
.krajee-default .file-size-info {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
    height: 15px;
    margin: auto;
}

.file-zoom-content > .file-object.type-video,
.file-zoom-content > .file-object.type-flash,
.file-zoom-content > .file-object.type-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}

.file-zoom-content > .file-object.type-video,
.file-zoom-content > .file-object.type-flash {
    height: 100%;
}

.file-zoom-content > .file-object.type-pdf,
.file-zoom-content > .file-object.type-html,
.file-zoom-content > .file-object.type-text,
.file-zoom-content > .file-object.type-default {
    width: 100%;
}

.file-loading:before {
    content: " Loading...";
    display: inline-block;
    padding-left: 20px;
    line-height: 16px;
    font-size: 13px;
    font-variant: small-caps;
    color: #999;
    background: transparent url(/images/vendor/bootstrap-fileinput/loading.gif?0c63e069bbc944a0dd9ebdc9c7d21e2c) top left no-repeat;
}

.file-object {
    margin: 0 0 -5px 0;
    padding: 0;
}

.btn-file {
    overflow: hidden;
}

.btn-file input[type=file] {
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block;
}

.btn-file ::-ms-browse {
    font-size: 10000px;
    width: 100%;
    height: 100%;
}

.file-caption.icon-visible .file-caption-icon {
    display: inline-block;
}

.file-caption.icon-visible .file-caption-name {
    padding-left: 25px;
}

.file-caption.icon-visible > .input-group-lg .file-caption-name {
    padding-left: 30px;
}

.file-caption.icon-visible > .input-group-sm .file-caption-name {
    padding-left: 22px;
}

.file-caption-name:not(.file-caption-disabled) {
    background-color: transparent;
}

.file-caption-name.file-processing {
    font-style: italic;
    border-color: #bbb;
    opacity: 0.5;
}

.file-caption-icon {
    padding: 7px 5px;
    left: 4px;
}

.input-group-lg .file-caption-icon {
    font-size: 1.25rem;
}

.input-group-sm .file-caption-icon {
    font-size: 0.875rem;
    padding: 0.25rem;
}

.file-error-message {
    color: #a94442;
    background-color: #f2dede;
    margin: 5px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    padding: 15px;
}

.file-error-message pre {
    margin: 5px 0;
}

.file-caption-disabled {
    background-color: #eee;
    cursor: not-allowed;
    opacity: 1;
}

.file-preview {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 8px;
    width: 100%;
    margin-bottom: 5px;
}

.file-preview .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.file-preview .fileinput-remove {
    top: 1px;
    right: 1px;
    line-height: 10px;
}

.file-preview .clickable {
    cursor: pointer;
}

.file-preview-image {
    font: 40px Impact, Charcoal, sans-serif;
    color: #008000;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.krajee-default.file-preview-frame {
    margin: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 6px;
    float: left;
    text-align: center;

}

.krajee-default.file-preview-frame .kv-file-content {
    width: 213px;
    height: 160px;
}

.krajee-default.file-preview-frame .kv-file-content.kv-pdf-rendered {
    width: 400px;
}

.krajee-default.file-preview-frame[data-template="audio"] .kv-file-content {
    width: 240px;
    height: 55px;
}

.krajee-default.file-preview-frame .file-thumbnail-footer {
    height: 70px;
}

.krajee-default.file-preview-frame:not(.file-preview-error):hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.krajee-default .file-preview-text {
    color: #428bca;
    border: 1px solid #ddd;
    outline: none;
    resize: none;
}

.krajee-default .file-preview-html {
    border: 1px solid #ddd;
}

.krajee-default .file-other-icon {
    font-size: 6em;
    line-height: 1;
}

.krajee-default .file-footer-buttons {
    float: right;
}

.krajee-default .file-footer-caption {
    display: block;
    text-align: center;
    padding-top: 4px;
    font-size: 11px;
    color: #777;
    margin-bottom: 30px;
}

.file-upload-stats {
    font-size: 10px;
    text-align: center;
    width: 100%;
}

.kv-upload-progress .file-upload-stats {
    font-size: 12px;
    margin: -10px 0 5px;
}

.krajee-default .file-preview-error {
    opacity: 0.65;
    box-shadow: none;
}

.krajee-default .file-thumb-progress {
    top: 37px;
    left: 0;
    right: 0;
}

.krajee-default.kvsortable-ghost {
    background: #e1edf7;
    border: 2px solid #a1abff;
}

.krajee-default .file-preview-other:hover {
    opacity: 0.8;
}

.krajee-default .file-preview-frame:not(.file-preview-error) .file-footer-caption:hover {
    color: #000;
}

.kv-upload-progress .progress {
    height: 20px;
    margin: 10px 0;
    overflow: hidden;
}

.kv-upload-progress .progress-bar {
    height: 20px;
    font-family: Verdana, Helvetica, sans-serif;
}


/*noinspection CssOverwrittenProperties*/

.file-zoom-dialog .file-other-icon {
    font-size: 22em;
    font-size: 50vmin;
}

.file-zoom-dialog .modal-dialog {
    width: auto;
}

.file-zoom-dialog .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-zoom-dialog .btn-navigate {
    margin: 0 0.1rem;
    padding: 0;
    font-size: 1.2rem;
    width: 2.4rem;
    height: 2.4rem;
    top: 50%;
    border-radius: 50%;
    text-align: center;
}

.btn-navigate * {
    width: auto;
}

.file-zoom-dialog .floating-buttons {
    top: 5px;
    right: 10px;
}

.file-zoom-dialog .btn-kv-prev {
    left: 0;
}

.file-zoom-dialog .btn-kv-next {
    right: 0;
}

.file-zoom-dialog .kv-zoom-header {
    padding: 0.5rem;
}

.file-zoom-dialog .kv-zoom-body {
    padding: 0.25rem;
}

.file-zoom-dialog .kv-zoom-description {
    position: absolute;
    opacity: 0.8;
    font-size: 0.8rem;
    background-color: #1a1a1a;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    color: #fff;
    left: 15%;
    right: 15%;
    bottom: 15%;
}

.file-zoom-dialog .kv-desc-hide {
    float: right;
    color: #fff;
    padding: 0 0.1rem;
    background: none;
    border: none;
}

.file-zoom-dialog .kv-desc-hide:hover {
    opacity: 0.7;
}

.file-zoom-dialog .kv-desc-hide:focus {
    opacity: 0.9;
}

.file-input-new .no-browse .form-control {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.file-input-ajax-new .no-browse .form-control {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.file-caption {
    width: 100%;
    position: relative;
}

.file-thumb-loading {
    background: transparent url(/images/vendor/bootstrap-fileinput/loading.gif?0c63e069bbc944a0dd9ebdc9c7d21e2c) no-repeat scroll center center content-box !important;
}

.file-drop-zone {
    border: 1px dashed #aaa;
    min-height: 260px;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    margin: 12px 15px 12px 12px;
    padding: 5px;
}

.file-drop-zone.clickable:hover {
    border: 2px dashed #999;
}

.file-drop-zone.clickable:focus {
    border: 2px solid #5acde2;
}

.file-drop-zone .file-preview-thumbnails {
    cursor: default;
}

.file-drop-zone-title {
    color: #aaa;
    font-size: 1.6em;
    text-align: center;
    padding: 85px 10px;
    cursor: default;
}

.file-highlighted {
    border: 2px dashed #999 !important;
    background-color: #eee;
}

.file-uploading {
    background: url(/images/vendor/bootstrap-fileinput/loading-sm.gif?5e6e572c071486f2318a521d92087257) no-repeat center bottom 10px;
    opacity: 0.65;
}

.file-zoom-fullscreen .modal-dialog {
    min-width: 100%;
    margin: 0;
}

.file-zoom-fullscreen .modal-content {
    border-radius: 0;
    box-shadow: none;
    min-height: 100vh;
}

.file-zoom-fullscreen .kv-zoom-body {
    overflow-y: auto;
}

.floating-buttons {
    z-index: 3000;
}

.floating-buttons .btn-kv {
    margin-left: 3px;
    z-index: 3000;
}

.kv-zoom-actions {
    min-width: 140px;
}

.kv-zoom-actions .btn-kv {
    margin-left: 3px;
}

.file-zoom-content {
    text-align: center;
    white-space: nowrap;
    min-height: 300px;
}

.file-zoom-content:hover {
    background: transparent;
}

.file-zoom-content .file-preview-image {
    max-height: 100%;
}

.file-zoom-content .file-preview-video {
    max-height: 100%;
}

.file-zoom-content > .file-object.type-image {
    height: auto;
    min-height: inherit;
}

.file-zoom-content > .file-object.type-audio {
    width: auto;
    height: 30px;
}

@media (min-width: 576px) {
    .file-zoom-dialog .modal-dialog {
        max-width: 500px;
    }
}

@media (min-width: 992px) {
    .file-zoom-dialog .modal-lg {
        max-width: 800px;
    }
}

@media (max-width: 767px) {
    .file-preview-thumbnails {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .file-zoom-dialog .modal-header {
        flex-direction: column;
    }
}

@media (max-width: 350px) {
    .krajee-default.file-preview-frame:not([data-template="audio"]) .kv-file-content {
        width: 160px;
    }
}

@media (max-width: 420px) {
    .krajee-default.file-preview-frame .kv-file-content.kv-pdf-rendered {
        width: 100%;
    }
}

.file-loading[dir=rtl]:before {
    background: transparent url(/images/vendor/bootstrap-fileinput/loading.gif?0c63e069bbc944a0dd9ebdc9c7d21e2c) top right no-repeat;
    padding-left: 0;
    padding-right: 20px;
}

.clickable .file-drop-zone-title {
    cursor: pointer;
}

.file-sortable .file-drag-handle:hover {
    opacity: 0.7;
}

.file-sortable .file-drag-handle {
    cursor: -webkit-grab;
    cursor: grab;
    opacity: 1;
}

.file-grabbing,
.file-grabbing * {
    cursor: not-allowed !important;
}

.file-grabbing .file-preview-thumbnails * {
    cursor: -webkit-grabbing !important;
    cursor: grabbing !important;
}

.file-preview-frame.sortable-chosen {
    background-color: #d9edf7;
    border-color: #17a2b8;
    box-shadow: none !important;
}

.file-preview .kv-zoom-cache {
    display: none;
}

.file-preview-other-frame, .file-preview-object, .kv-zoom-body {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*!
 * bootstrap-fileinput v5.2.7
 * http://plugins.krajee.com/file-input
 *
 * Krajee default styling for bootstrap-fileinput.
 *
 * Author: Kartik Visweswaran
 * Copyright: 2014 - 2021, Kartik Visweswaran, Krajee.com
 *
 * Licensed under the BSD-3-Clause
 * https://github.com/kartik-v/bootstrap-fileinput/blob/master/LICENSE.md
 */

.file-loading input[type=file],
input[type=file].file-loading {
    width: 0;
    height: 0;
}

.file-no-browse {
    position: absolute;
    left: 50%;
    bottom: 20%;
    width: 1px;
    height: 1px;
    font-size: 0;
    opacity: 0;
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
}

.kv-hidden,
.file-caption-icon,
.file-zoom-dialog .modal-header:before,
.file-zoom-dialog .modal-header:after,
.file-input-new .file-preview,
.file-input-new .close,
.file-input-new .glyphicon-file,
.file-input-new .fileinput-remove-button,
.file-input-new .fileinput-upload-button,
.file-input-new .no-browse .input-group-btn,
.file-input-ajax-new .fileinput-remove-button,
.file-input-ajax-new .fileinput-upload-button,
.file-input-ajax-new .no-browse .input-group-btn,
.hide-content .kv-file-content,
.is-locked .fileinput-upload-button,
.is-locked .fileinput-remove-button {
    display: none;
}

.btn-file input[type=file],
.file-caption-icon,
.file-preview .fileinput-remove,
.krajee-default .file-thumb-progress,
.file-zoom-dialog .btn-navigate,
.file-zoom-dialog .floating-buttons {
    position: absolute;
}

.file-caption-icon .kv-caption-icon {
    line-height: inherit;
}

.file-input,
.file-loading:before,
.btn-file,
.file-caption,
.file-preview,
.krajee-default.file-preview-frame,
.krajee-default .file-thumbnail-footer,
.file-zoom-dialog .modal-dialog {
    position: relative;
}

.file-error-message pre,
.file-error-message ul,
.krajee-default .file-actions,
.krajee-default .file-other-error {
    text-align: left;
}

.file-error-message pre,
.file-error-message ul {
    margin: 0;
}

.krajee-default .file-drag-handle,
.krajee-default .file-upload-indicator {
    float: left;
    margin-top: 10px;
    width: 16px;
    height: 16px;
}

.file-thumb-progress .progress,
.file-thumb-progress .progress-bar {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.7rem;
}

.krajee-default .file-thumb-progress .progress,
.kv-upload-progress .progress {
    background-color: #ccc;
}

.krajee-default .file-caption-info,
.krajee-default .file-size-info {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
    height: 15px;
    margin: auto;
}

.file-zoom-content > .file-object.type-video,
.file-zoom-content > .file-object.type-flash,
.file-zoom-content > .file-object.type-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}

.file-zoom-content > .file-object.type-video,
.file-zoom-content > .file-object.type-flash {
    height: 100%;
}

.file-zoom-content > .file-object.type-pdf,
.file-zoom-content > .file-object.type-html,
.file-zoom-content > .file-object.type-text,
.file-zoom-content > .file-object.type-default {
    width: 100%;
}

.file-loading:before {
    content: " Loading...";
    display: inline-block;
    padding-left: 20px;
    line-height: 16px;
    font-size: 13px;
    font-variant: small-caps;
    color: #999;
    background: transparent url(/images/vendor/bootstrap-fileinput/loading.gif?0c63e069bbc944a0dd9ebdc9c7d21e2c) top left no-repeat;
}

.file-object {
    margin: 0 0 -5px 0;
    padding: 0;
}

.btn-file {
    overflow: hidden;
}

.btn-file input[type=file] {
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block;
}

.btn-file ::-ms-browse {
    font-size: 10000px;
    width: 100%;
    height: 100%;
}

.file-caption.icon-visible .file-caption-icon {
    display: inline-block;
}

.file-caption.icon-visible .file-caption-name {
    padding-left: 25px;
}

.file-caption.icon-visible > .input-group-lg .file-caption-name {
    padding-left: 30px;
}

.file-caption.icon-visible > .input-group-sm .file-caption-name {
    padding-left: 22px;
}

.file-caption-name:not(.file-caption-disabled) {
    background-color: transparent;
}

.file-caption-name.file-processing {
    font-style: italic;
    border-color: #bbb;
    opacity: 0.5;
}

.file-caption-icon {
    padding: 7px 5px;
    left: 4px;
}

.input-group-lg .file-caption-icon {
    font-size: 1.25rem;
}

.input-group-sm .file-caption-icon {
    font-size: 0.875rem;
    padding: 0.25rem;
}

.file-error-message {
    color: #a94442;
    background-color: #f2dede;
    margin: 5px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    padding: 15px;
}

.file-error-message pre {
    margin: 5px 0;
}

.file-caption-disabled {
    background-color: #eee;
    cursor: not-allowed;
    opacity: 1;
}

.file-preview {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 8px;
    width: 100%;
    margin-bottom: 5px;
}

.file-preview .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.file-preview .fileinput-remove {
    top: 1px;
    right: 1px;
    line-height: 10px;
}

.file-preview .clickable {
    cursor: pointer;
}

.file-preview-image {
    font: 40px Impact, Charcoal, sans-serif;
    color: #008000;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.krajee-default.file-preview-frame {
    margin: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 6px;
    float: left;
    text-align: center;

}

.krajee-default.file-preview-frame .kv-file-content {
    width: 213px;
    height: 160px;
}

.krajee-default.file-preview-frame .kv-file-content.kv-pdf-rendered {
    width: 400px;
}

.krajee-default.file-preview-frame[data-template="audio"] .kv-file-content {
    width: 240px;
    height: 55px;
}

.krajee-default.file-preview-frame .file-thumbnail-footer {
    height: 70px;
}

.krajee-default.file-preview-frame:not(.file-preview-error):hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.krajee-default .file-preview-text {
    color: #428bca;
    border: 1px solid #ddd;
    outline: none;
    resize: none;
}

.krajee-default .file-preview-html {
    border: 1px solid #ddd;
}

.krajee-default .file-other-icon {
    font-size: 6em;
    line-height: 1;
}

.krajee-default .file-footer-buttons {
    float: right;
}

.krajee-default .file-footer-caption {
    display: block;
    text-align: center;
    padding-top: 4px;
    font-size: 11px;
    color: #777;
    margin-bottom: 30px;
}

.file-upload-stats {
    font-size: 10px;
    text-align: center;
    width: 100%;
}

.kv-upload-progress .file-upload-stats {
    font-size: 12px;
    margin: -10px 0 5px;
}

.krajee-default .file-preview-error {
    opacity: 0.65;
    box-shadow: none;
}

.krajee-default .file-thumb-progress {
    top: 37px;
    left: 0;
    right: 0;
}

.krajee-default.kvsortable-ghost {
    background: #e1edf7;
    border: 2px solid #a1abff;
}

.krajee-default .file-preview-other:hover {
    opacity: 0.8;
}

.krajee-default .file-preview-frame:not(.file-preview-error) .file-footer-caption:hover {
    color: #000;
}

.kv-upload-progress .progress {
    height: 20px;
    margin: 10px 0;
    overflow: hidden;
}

.kv-upload-progress .progress-bar {
    height: 20px;
    font-family: Verdana, Helvetica, sans-serif;
}


/*noinspection CssOverwrittenProperties*/

.file-zoom-dialog .file-other-icon {
    font-size: 22em;
    font-size: 50vmin;
}

.file-zoom-dialog .modal-dialog {
    width: auto;
}

.file-zoom-dialog .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-zoom-dialog .btn-navigate {
    margin: 0 0.1rem;
    padding: 0;
    font-size: 1.2rem;
    width: 2.4rem;
    height: 2.4rem;
    top: 50%;
    border-radius: 50%;
    text-align: center;
}

.btn-navigate * {
    width: auto;
}

.file-zoom-dialog .floating-buttons {
    top: 5px;
    right: 10px;
}

.file-zoom-dialog .btn-kv-prev {
    left: 0;
}

.file-zoom-dialog .btn-kv-next {
    right: 0;
}

.file-zoom-dialog .kv-zoom-header {
    padding: 0.5rem;
}

.file-zoom-dialog .kv-zoom-body {
    padding: 0.25rem;
}

.file-zoom-dialog .kv-zoom-description {
    position: absolute;
    opacity: 0.8;
    font-size: 0.8rem;
    background-color: #1a1a1a;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    color: #fff;
    left: 15%;
    right: 15%;
    bottom: 15%;
}

.file-zoom-dialog .kv-desc-hide {
    float: right;
    color: #fff;
    padding: 0 0.1rem;
    background: none;
    border: none;
}

.file-zoom-dialog .kv-desc-hide:hover {
    opacity: 0.7;
}

.file-zoom-dialog .kv-desc-hide:focus {
    opacity: 0.9;
}

.file-input-new .no-browse .form-control {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.file-input-ajax-new .no-browse .form-control {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.file-caption {
    width: 100%;
    position: relative;
}

.file-thumb-loading {
    background: transparent url(/images/vendor/bootstrap-fileinput/loading.gif?0c63e069bbc944a0dd9ebdc9c7d21e2c) no-repeat scroll center center content-box !important;
}

.file-drop-zone {
    border: 1px dashed #aaa;
    min-height: 260px;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    margin: 12px 15px 12px 12px;
    padding: 5px;
}

.file-drop-zone.clickable:hover {
    border: 2px dashed #999;
}

.file-drop-zone.clickable:focus {
    border: 2px solid #5acde2;
}

.file-drop-zone .file-preview-thumbnails {
    cursor: default;
}

.file-drop-zone-title {
    color: #aaa;
    font-size: 1.6em;
    text-align: center;
    padding: 85px 10px;
    cursor: default;
}

.file-highlighted {
    border: 2px dashed #999 !important;
    background-color: #eee;
}

.file-uploading {
    background: url(/images/vendor/bootstrap-fileinput/loading-sm.gif?5e6e572c071486f2318a521d92087257) no-repeat center bottom 10px;
    opacity: 0.65;
}

.file-zoom-fullscreen .modal-dialog {
    min-width: 100%;
    margin: 0;
}

.file-zoom-fullscreen .modal-content {
    border-radius: 0;
    box-shadow: none;
    min-height: 100vh;
}

.file-zoom-fullscreen .kv-zoom-body {
    overflow-y: auto;
}

.floating-buttons {
    z-index: 3000;
}

.floating-buttons .btn-kv {
    margin-left: 3px;
    z-index: 3000;
}

.kv-zoom-actions {
    min-width: 140px;
}

.kv-zoom-actions .btn-kv {
    margin-left: 3px;
}

.file-zoom-content {
    text-align: center;
    white-space: nowrap;
    min-height: 300px;
}

.file-zoom-content:hover {
    background: transparent;
}

.file-zoom-content .file-preview-image {
    max-height: 100%;
}

.file-zoom-content .file-preview-video {
    max-height: 100%;
}

.file-zoom-content > .file-object.type-image {
    height: auto;
    min-height: inherit;
}

.file-zoom-content > .file-object.type-audio {
    width: auto;
    height: 30px;
}

@media (min-width: 576px) {
    .file-zoom-dialog .modal-dialog {
        max-width: 500px;
    }
}

@media (min-width: 992px) {
    .file-zoom-dialog .modal-lg {
        max-width: 800px;
    }
}

@media (max-width: 767px) {
    .file-preview-thumbnails {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .file-zoom-dialog .modal-header {
        flex-direction: column;
    }
}

@media (max-width: 350px) {
    .krajee-default.file-preview-frame:not([data-template="audio"]) .kv-file-content {
        width: 160px;
    }
}

@media (max-width: 420px) {
    .krajee-default.file-preview-frame .kv-file-content.kv-pdf-rendered {
        width: 100%;
    }
}

.file-loading[dir=rtl]:before {
    background: transparent url(/images/vendor/bootstrap-fileinput/loading.gif?0c63e069bbc944a0dd9ebdc9c7d21e2c) top right no-repeat;
    padding-left: 0;
    padding-right: 20px;
}

.clickable .file-drop-zone-title {
    cursor: pointer;
}

.file-sortable .file-drag-handle:hover {
    opacity: 0.7;
}

.file-sortable .file-drag-handle {
    cursor: -webkit-grab;
    cursor: grab;
    opacity: 1;
}

.file-grabbing,
.file-grabbing * {
    cursor: not-allowed !important;
}

.file-grabbing .file-preview-thumbnails * {
    cursor: -webkit-grabbing !important;
    cursor: grabbing !important;
}

.file-preview-frame.sortable-chosen {
    background-color: #d9edf7;
    border-color: #17a2b8;
    box-shadow: none !important;
}

.file-preview .kv-zoom-cache {
    display: none;
}

.file-preview-other-frame, .file-preview-object, .kv-zoom-body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tempus-dominus-widget .date-container-decades div:not(.no-highlight).active,
.tempus-dominus-widget .date-container-years div:not(.no-highlight).active,
.tempus-dominus-widget .date-container-months div:not(.no-highlight).active,
.tempus-dominus-widget .date-container-days div:not(.no-highlight).active,
.tempus-dominus-widget .time-container-clock div:not(.no-highlight).active,
.tempus-dominus-widget .time-container-hour div:not(.no-highlight).active,
.tempus-dominus-widget .time-container-minute div:not(.no-highlight).active,
.tempus-dominus-widget .time-container-second div:not(.no-highlight).active {
  background: linear-gradient(60deg, #9ccc65, #7cb342);
}

.tempus-dominus-widget button {
  background-color: #7cb342;
  border-color: #7cb342;
}

.tempus-dominus-widget .date-container-decades div:not(.no-highlight).today::before,
.tempus-dominus-widget .date-container-years div:not(.no-highlight).today::before,
.tempus-dominus-widget .date-container-months div:not(.no-highlight).today::before,
.tempus-dominus-widget .date-container-days div:not(.no-highlight).today::before,
.tempus-dominus-widget .time-container-clock div:not(.no-highlight).today::before,
.tempus-dominus-widget .time-container-hour div:not(.no-highlight).today::before,
.tempus-dominus-widget .time-container-minute div:not(.no-highlight).today::before,
.tempus-dominus-widget .time-container-second div:not(.no-highlight).today::before {
  border-bottom-color: #7cb342;
}

textarea.mce-textbox {
  height: 100% !important;
}

.mce-edit-area {
  padding: 5px !important;
}

.kv-avatar .krajee-default.file-preview-frame,
.kv-avatar .krajee-default.file-preview-frame:hover {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  text-align: center;
}

.kv-avatar {
  display: inline-block;
}

.kv-avatar .file-input {
  display: table-cell;
  width: 213px;
}

.kv-reqd {
  color: red;
  font-family: monospace;
  font-weight: normal;
}

.file-zoom-dialog .modal-dialog .modal-content {
  background-color: #fff;
}
.file-zoom-dialog .modal-dialog .modal-content .floating-buttons {
  background-color: rgba(124, 179, 66, 0.8);
}
.file-zoom-dialog .modal-dialog .modal-content .modal-header {
  background: linear-gradient(60deg, #9ccc65, #7cb342);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  font-family: "Montserrat", sans-serif;
}

.modal-content {
  border-radius: 0px;
}

.dropdown-menu li a {
  padding: 15px;
}

.navbar {
  margin-bottom: 15px;
}

.alert {
  min-width: 360px;
}
.alert .close {
  margin-top: 1rem;
}
.alert span,
.alert .alert-heading {
  display: inline-block;
}
.alert .alert-heading {
  margin-left: 0.5rem;
}
.alert p {
  margin-left: 1.5rem;
}
