// @import url('../css/material-dashboard/material-dashboard.css?v=2.1.0');
// @import url('@fortawesome/fontawesome-free');
@import url('@eonasdan/tempus-dominus');
@import url('bootstrap-fileinput');

.tempus-dominus-widget .date-container-decades div:not(.no-highlight).active,
.tempus-dominus-widget .date-container-years div:not(.no-highlight).active,
.tempus-dominus-widget .date-container-months div:not(.no-highlight).active,
.tempus-dominus-widget .date-container-days div:not(.no-highlight).active,
.tempus-dominus-widget .time-container-clock div:not(.no-highlight).active,
.tempus-dominus-widget .time-container-hour div:not(.no-highlight).active,
.tempus-dominus-widget .time-container-minute div:not(.no-highlight).active,
.tempus-dominus-widget .time-container-second div:not(.no-highlight).active {
    background: linear-gradient(60deg, #9ccc65, #7cb342);
}

.tempus-dominus-widget button {
    background-color: #7cb342;
    border-color: #7cb342;
}

.tempus-dominus-widget .date-container-decades div:not(.no-highlight).today::before,
.tempus-dominus-widget .date-container-years div:not(.no-highlight).today::before,
.tempus-dominus-widget .date-container-months div:not(.no-highlight).today::before,
.tempus-dominus-widget .date-container-days div:not(.no-highlight).today::before,
.tempus-dominus-widget .time-container-clock div:not(.no-highlight).today::before,
.tempus-dominus-widget .time-container-hour div:not(.no-highlight).today::before,
.tempus-dominus-widget .time-container-minute div:not(.no-highlight).today::before,
.tempus-dominus-widget .time-container-second div:not(.no-highlight).today::before {
    border-bottom-color: #7cb342;
}

textarea.mce-textbox {
    height: 100% !important;
}

.mce-edit-area {
    padding: 5px !important;
}

@import url('bootstrap-fileinput');

.kv-avatar .krajee-default.file-preview-frame,
.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}

.kv-avatar {
    display: inline-block;
}

.kv-avatar .file-input {
    display: table-cell;
    width: 213px;
}

.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}

.file-zoom-dialog {
    .modal-dialog {
        .modal-content {
            background-color: #fff;

            .floating-buttons {
                background-color: rgba($color: #7cb342, $alpha: .8);
            }

            .modal-header {
                background: linear-gradient(60deg, #9ccc65, #7cb342);
            }
        }
    }
}