.modal-content{
	background: transparent;
	.card{
		margin-top: 0 ;
		margin-bottom: 0 ;
	}
}
table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
    color: #fff;
    background-color: $light-green-500;
}
